{% extends "base.html" %}
        {% block content %}
        
        <div class="badges">
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="424cc01c-29d4-4793-9387-0c08316b2ba0" data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="6c50516b-d793-4303-a88f-49f290e56838" data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="00729ea4-949a-4e31-8d8f-2b51f87565c3" data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="102b3f66-7e98-466d-a6e1-63f9569321d5" data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="db738fa2-471b-4f38-b81e-d105e82eba96" data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="f5745c94-df2a-49a3-b754-34d984c08e21" data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="5492a50f-60f2-44cb-98f5-ec6a85b68074" data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="ebc2b5f3-6335-49b2-bf22-e71e78a4240f" data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="b4e58ed7-fe31-46d9-9938-832dd02c5926" data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="9034e386-0e79-4e82-8065-a5778965694a" data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="5b8d02a3-6b47-4515-b540-d5d1738f0421" data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="d6e1205a-2df4-4dfa-8691-e8a072bddb15" data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="4f5c1644-1c14-436a-8820-8e89f977e7af" data-share-badge-host="https://www.credly.com"></div>
                <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        </div>

        {% endblock %}