{% extends "base.html" %}

        {% block head %}
                {{ super() }}
                <style type="text/css">
                        
                </style>
        {% endblock %}


        {% block content %}
                <div class="home">
                        <div class="testimonials">
                                <div class="vid">
                                        <video width="300" height="200" autoplay>
                                                <source src="../static/images/Rainer.mp4" type="video/mp4">
                                        </video>
                                        
                                </div>
                                <br>
                                <h5>Data Science & Machine Learning Practitioner.</h5>
                                <br>
                                <p> An aspiring Software Developer with aimed expertise in Machine Learning and Artificial Intelligence.</p> <br>
                                <p>I am a self-driven and goal oriented person whose interest lies in being part of a dynamic organization where I may enhance 
                                   my knowledge and skills in the computing field and to be a team player. With my background in computing I'm driven I look forward 
                                   to being part of a growing organization where I can utilize my technical skills & abilities to contribute to its positive growth 
                                   and help provide solutions to challenging real-life problems.</p>
                        </div>
                        <!-- <hr> -->
                        <div class="experience">                                
                                <p>My main interest lies in Data Science and Analytics, Cloud Computing & Web Development (Back-end with Flask)</p>
                                <h5>Growth Trends</h5>
                                <div class="growth">
                                        <p> <span>2018 - Present :</span> A student at <b>Jomo Kenyatta University of Agriculture and Technology</b> pursuing Mathematics and Computer Science</p>
                                <p> <span>Feb - March 2021:</span> <b>Cisco Networking Academy, JKUAT</b> - Pursued CCNA 1 and acquired basic networking skills and components configuration.</p>
                                <p> <span>May 2021:</span> <b>ANGAZA ELIMU</b> - Served as a Customer Relations Assistant </p>
                                <p> <span>August 2021: </span> <b>Lux Tech Academy & Data Science East Africa</b> - Pursued python for data science with Focus on model deployment using Flask.</p>
                                <p> <span>October 2021 - December 2021: </span> <b>IBM - JKUAT</b> - Industrial Attachment.</p>
                                </div>
                        </div>
                </div>
        {% endblock %}

        

       